body {
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
    margin: 0;
    width: 100%;
    height: 100vh;
}

h1, p {
    text-align: center;
    margin: 1em auto;
}

form {
    width: 60vw;
    min-width: 300px;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 2em;
}

fieldset {
    border: none;
    padding: 2rem 0;
}

fieldset:not(:last-of-type) {
    border-bottom: 3px solid #3b3b4f;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input:hover {
    background-color: darkblue;
}

input, select, textarea {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

input, textarea {
    background-color: black;
    color: whitesmoke;
    border: 2px solid blueviolet;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input[type = "submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
}

input[type="file"] {
    padding-top: 5px;
    padding-left: 5px;
}

a {
    color: #dfdfe2;
}